<div class="row">
    <div class="col">
        <img src="https://www.w3schools.com/w3images/tablesetting2.jpg" alt="" class="col__img">
    </div>
    <div class="col">
        <h3 >About Catering</h3>
        <h6 >Tradition since 1889 </h6>
        <p>The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur adipiscing elit
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            iruredolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.We only use
            seasonal ingredients.</p>
    </div>
</div>
